apiVersion: v1
kind: Service
metadata:
  name: springboot-service
  namespace: devops
spec:
  type: NodePort
  selector:
    app: springboot-app
  ports:
    - protocol: TCP
      port: 8089
      targetPort: 8089
      nodePort: 30080
